# Node
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.*.local

# Python
backend/venv/
backend/.venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Secrets
.env
backend/.env
frontend/.env

# Editors & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
