fastapi
uvicorn
sqlalchemy
asyncpg
greenlet
alembic
pydantic
pydantic-settings
python-dotenv
passlib[bcrypt]
pyjwt
langchain
langchain-google-genai
langchain-community
duckduckgo-search
motor
mongomock-motor
pymongo
mongomock
python-multipart
dnspython
email-validator
